<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684285381148-l9c6648fuqgb41b3ku6l2dp13l6ofg11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684285381148-l9c6648fuqgb41b3ku6l2dp13l6ofg11</string>
	<key>API_KEY</key>
	<string>AIzaSyA7_ONyoAToXwz6QwKsJU-qAm7ye1G_4X8</string>
	<key>GCM_SENDER_ID</key>
	<string>684285381148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlich.DailyThoughts</string>
	<key>PROJECT_ID</key>
	<string>ios-lab-70daf</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-lab-70daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684285381148:ios:ac5ccdfcd42c2170656dd9</string>
</dict>
</plist>